<mat-toolbar color="primary" class="header">
  <div>
    <a><button mat-button [routerLink]="['/']">Главная</button></a>
    <a><button mat-button [routerLink]="['/basket']">Корзина</button></a>
  </div>
  <div class="basket-info">
    <div class="basket-info__wish-list">
      <app-wish-list-popup></app-wish-list-popup>
    </div>
    <mat-icon class="basket-info__icon">shopping_cart</mat-icon>
    <div class="basket-info__titles">
      <div>В корзине</div>
      <div>На сумму</div>
    </div>
    <div class="basket-info__values">
      <div>
        {{ amount$ | async }}
      </div>
      <div>
        {{ fullPrice$ | async | currency: 'RUB':'symbol-narrow' }}
      </div>
    </div>
  </div>
</mat-toolbar>
